<html ng-app='myApp'>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js'/></script>
    <script type='text/javascript'>
    	var myApp = angular.module('myApp', []);
  		myApp.factory('customerFactory', function() {
  			var customers = [
  			];
  			var factory = {};

  			factory.getCustomers = function (callback) {
  				callback(customers);
  			}
  			return factory
  		})

  		myApp.controller('customersController', function(customerFactory) {
  			var that = this;
  			that.customers = [];
  			customerFactory.getCustomers(function(data) {
  				that.customers = data;
  			})
  			that.addCustomer = function() {
  				that.newCustomer.date_created = new Date();
  				that.customers.push(that.newCustomer);
  				that.newCustomer = {};
  			}

  			that.removeCustomer = function(customer) {
  				that.customers.splice(that.customers.indexOf(customer), 1);
  			}
  		})

    </script>
    <style>
	.mainRow {
		margin-top: 40px;
	}

	table {
		margin-top: 40px;
	}
    </style>
</head>
<body>
	<div class="conatiner-fluid">
		<div class="row mainRow">
			<div class="col-md-1"></div>
			<div class="col-md-6">
				<div ng-controller='customersController as c1' ng-init='c1.getCustomers()'>
					Input customer: <input type="text" ng-model="c1.newCustomer.name">
					<input type="submit" ng-click='c1.addCustomer()' value='Add Customer'>
					Search Friends<input type="text" ng-model='c1.filter_name'>
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Date</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="customer in c1.customers | filter: c1.filter_name | orderBy: 'date_created' ">
								<td ng-bind="customer.name"></td>
								<td ng-bind="customer.date_created | date"></td>
								<td><input type="submit" ng-click="c1.removeCustomer(customer)" value="Delete"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>